@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: url('../images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  /* Cover the entire background */
}

.back-button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button:hover {
    background-color: #2980b9;
}

.back-button i {
    margin-right: 8px;
}