@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: url('../images/background.jpg') no-repeat center center fixed; /* Background image */
  background-size: cover; /* Cover the entire background */
}

.photo-list {
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  color: #333;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 1200px;
  position: relative; /* Added for absolute positioning of back button */
}

.photo-list h2 {
  margin-bottom: 20px;
  font-size: 32px;
  color: #2c3e50;
}

.photos-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Five photos per row */
  gap: 20px;
  justify-items: center;
  padding: 10px;
}

.photo-square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 180px; /* Ensure a max width for better alignment */
  height: 220px; /* Increased height */
  background: linear-gradient(135deg, #fff, #e6f7ff); /* Gradient background */
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Increased padding */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photo-square:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #e6f7ff, #ccf2ff); /* Gradient background on hover */
}

.photo-square img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.photo-square p {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  text-align: center;
  word-wrap: break-word;
}

.back-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 20px;
}

.back-button:hover {
  background-color: #2980b9;
}

.back-button i {
  margin-right: 8px;
}

.loading-message {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
  text-align: center;
}
