/* src/App.css */

.user-list, .album-list, .photo-list {
  text-align: center;
}

.user-list h2, .album-list h2, .photo-list h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.user-list table, .album-list table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}

.user-list td, .album-list td {
  border: 1px solid #ddd;
  padding: 8px;
  cursor: pointer;
}

.user-list td:hover, .album-list td:hover {
  background-color: #f1f1f1;
}

.user-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #e0e0e0;
  margin: 5px;
}

.photos img {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.photo-list button, .album-list button {
  margin-bottom: 10px;
}
